.loginForm{}
.form {
      padding: 1em 0;
      display: flex;
      flex-direction: column;
      align-items: start;
}
.form input:not([type='checkbox']) {
      padding: 0.5em;
      font-size: 1rem;
      width: 33.3%;
}
.form input {
      margin: 0 0 1em;
}
.error {
      color: #f00;
}
