.settingsBox {
      position: relative;
      z-index: 3;
      overflow: hidden;
}

.warning {
      position: absolute;
      right: 1em;
      top: -50%;
      color: #fff;
      background: #08e800;
      transition: 200ms;
      padding: 0.25em;
      z-index: 1;
      transition: 500ms ease;
}
.trueError {
      top: 3%;
}
.warning span {
      cursor: pointer;
      margin: 0 1em 0 0;
}
.settingsBox li:nth-child(3) {
      margin: 1em 0 0;
}
.fieldForm label {
      width: 30%;
}
.fieldForm label .inputTextBox {
      position: relative;
}
.fieldForm label:not(:nth-child(2)) {
      padding: 0.5em 0;
      display: block;
}
.fieldForm label:nth-child(2) {
      padding: 0.5em 0 0;
      display: block;
}
.fieldForm input:not([type='checkbox']) {
      padding: 0.2em;
      width: 60%;
}
.fieldLabel {
      position: relative;
}
.fieldLabel span {
      position: absolute;
      right: 0;
      top: 25%;
      color: #f60000;
}
