@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-style: normal;
}

:root {
      --primary-color: #6667ab;
}

#root {
      height: 100vh;
      display: flex;
      flex-direction: column;
}

.container {
      max-width: 1230px;
      margin: 0 auto;
      padding: 0 15px;
}
#root > .container {
      display: flex;
}

.fa_exclamation {
      font-size: 15rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 0.1em 0;
}

.fa_exclamation svg {
      color: #cd0000;
}

.fa_exclamation p {
      font-size: 2rem;
      font-family: 'Bahnschrift';
      text-align: center;
}

@media (max-width: 820px) {
      [data-testid='container'] {
            min-height: calc(100vh);
      }
}
