.users{}
.searchForm{
        display: flex;
        align-items: center;
}
.searchFormInput{
        width: 30%;
        border: 0;
        box-shadow: 0 0 1px #000;
        outline: none;
        padding: 0em 0.2em;
}
.searchFormInput:focus{
        box-shadow: 0 0 2px #000;
}
.searchForm button{
        margin: 0 4em 0 0.5em;
}